section{
    background-color:rgba(0, 0, 0, 0.5);
}
body{
    color: rgb(255, 255, 255);
    filter: brightness(70%);
    background:url(/images/bg3.png);
}
button,input{
    background-color:black;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
section:hover{
    background-color: rgba(50, 50, 50, 0.3);
}
button:hover,input:hover{
    border: 2px solid rgb(100, 100, 100);
}/*
header:hover{
    border-bottom: 4px solid rgba(50, 50, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
}*/
.link:link,.link:active,.link:visited{
    color: white;
    text-decoration: none;
    cursor:pointer;
}
.link:hover{
    color: white;
    text-decoration: underline;
    cursor:pointer;
}
