:root {
    --theme-color-a: rgba(255, 255, 255, 0);
    --theme-color-b: rgba(255, 255, 255, 0.3);
    --theme-color-c: rgba(255, 255, 255, 0.5);
    --theme-color-d: rgba(255, 255, 255, 0.8);
    --theme-color-e: rgba(255, 255, 255, 1);
    --theme-color-f: rgba(0, 0, 0, 1);
}
::selection {
    border-radius: 8px;
    background-color: var(--theme-color-d);
}
::-moz-selection {
    background-color: var(--theme-color-d);
}
section,
#fullscr,
button,
input {
    outline: var(--theme-color-e);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: var(--theme-color-b);
}
header ul,
.division {
    background-image: linear-gradient(to bottom right, var(--theme-color-b), var(--theme-color-c));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
body {
    color: var(--theme-color-f);
}
button,
input {
    border: 2px solid var(--theme-color-a);
}
section:hover,
button:hover,
input:hover,
input:focus {
    background-color: var(--theme-color-c);
}
button:hover,
input:hover {
    border: 2px solid var(--theme-color-e);
}
section:hover,
.msg,
button:hover,
input:hover {
    box-shadow: 0 0 2px 1px var(--theme-color-e);
}
.link:link,
.link:active,
.link:visited {
    color: var(--theme-color-f);
    text-decoration: none;
    cursor: pointer;
}
.link:hover {
    color: var(--theme-color-f);
    text-decoration: underline;
    cursor: pointer;
}
.start {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, green, yellow);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.mylogo {
    display: flex;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, aqua, blue);
    align-items: center;
    justify-content: center;
    font-size: 128px;
    color: darkseagreen;
}
.logoborder {
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-radius: 50% 50% 50% 0%;
    padding: 64px;
    animation: mylogo 5s infinite;
    transform: rotate(0deg);
}
@keyframes mylogo {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.msg {
    position: relative;
    top: -72px;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    width: 80%;
    background-color: var(--theme-color-c);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: space-between;
}
a:link,
a:visited {
    text-decoration: none;
    color: var(--theme-color-f);
}
a:hover,
a:active {
    text-decoration: underline;
    color: var(--theme-color-f);
}
