@font-face {
    font-family: mytitle;
    src: url(/fonts/title.ttf);
}
.bg {
    left: -0.1%;
    z-index: -1;
    position: fixed;
    top: -0.1%;
    width: 100.1%;
    height: 100.1%;
    filter: brightness(0.8);
    left: 0;
    min-width: 1000px;
    zoom: 1;
    background: url(https://api.sunweihu.com/api/bing1/api.php) no-repeat;
    background-size: cover;
    background-position: center 0;
}
section,
.division,
button,
input,
#fullscr,
iframe,
.loa .progress {
    border-radius: 8px;
}
body {
    background-size: cover;
    padding: 0;
    margin: 0;
    background: url(https://api.sunweihu.com/api/bing1/api.php);
}
* {
    font-family: mytitle;
    transition: 0.3s;
}
#imgg {
    width: 50;
    height: 50;
    vertical-align: middle;
}
section {
    margin: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 500px;
    height: 250px;
}
.b {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#yj {
    vertical-align: middle;
}
header ul {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

header li {
    float: left;
}
#can {
    background-color: black;
}
.hd {
    display: block;
    text-align: center;
    padding: 6px 24px;
    text-decoration: none;
}
header {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    z-index: 9;
}
.a {
    display: flex;
    justify-content: center;
}
.tcs .tc {
    width: 95%;
    height: 500px;
}
.tcs .tcc {
    width: 95%;
}
.ayhgame section {
    height: 600px;
    width: 95%;
}
.tcs,
.ayhgame,
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#back {
    display: none;
}
@media only screen and (max-width: 1032px) {
    .tcs .tc {
        width: 95%;
        height: 600px;
    }
    .ayhgame section {
        height: 600px;
        width: 95%;
    }
    .tcs,
    .ayhgame {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
.upd {
    overflow: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.ms {
    width: 100%;
    position: fixed;
    z-index: 98;
    display: none;
    justify-content: center;
}
@keyframes mymsg {
    16% {
        top: 12px;
    }
    84% {
        top: 12px;
    }
    100% {
        top: -72px;
    }
}
.text {
    text-align: center;
    /* margin-left: auto; */
    overflow: auto;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.msg svg {
    position: fixed;
    /* margin-right: -24px; */
}
section .github-corner {
    position: relative;
    left: 50%;
    top: -15.5%;
}
#page {
    display: none;
    margin: 0px;
    padding: 0px;
}
#fullscr {
    width: 32px;
    height: 32px;
    /* display: flex; */
    position: fixed;
    top: 25%;
    left: 0px;
    align-items: flex-end;
    justify-content: center;
    display: none;
}
.division {
    width: 99%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
}
body::after,
body::before,
html::after,
html::before {
    content: "";
    background-size: cover;
    padding: 0;
    margin: 0;
    background: url(https://api.sunweihu.com/api/bing1/api.php);
}