section,button,input,header ul{
    border-radius: 10px;
}
body{
    background-size:100% 100%;
    background-attachment: fixed;
    /* text-align: center; */
    
}
*{
    transition: 0.3s
}
#imgg{
    width: 50;
    height: 50;
    vertical-align: middle;
}
section{
    text-align: center;
    width: 80%;
    height: auto;
}
.b{
    width: 100%;
    text-align: center;
    
}
#yj{
    vertical-align: middle;
}
header ul {
  background-color:White;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

header li {
  float: left;
}
.hd{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
