.bg{
    z-index: -1;
    /* filter: alpha(opacity=85); */
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar{
    width:8px;
    height:8px;
    background-color:rgb(255, 255, 255);
}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:rgb(150,150,150);
}
section,button,input,header ul{
    border-radius: 10px;
}
body{
    /* background-size:cover; */
    /* background-attachment: fixed; */
    /* text-align: center; */
    padding: 0;
    margin: 0;
    background:url(/images/sxc.jpg);
    /* height: 100%; */
}
*{
    transition: 0.3s
}
#imgg{
    width: 50;
    height: 50;
    vertical-align: middle;
}
section{
    margin: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 500px;
    height: 250px;
}
.b{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#yj{
    vertical-align: middle;
}
header ul {
    position: fixed;
    width: 95%;
    z-index: 9;
    display: flex;
    align-items: center;
    /*background-color:White;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* position: sticky; */
    top: 0;
    justify-content: center;
    flex-wrap: wrap;
}

header li {
    float: left;
}
.hd{
    display: block;
    text-align: center;
    padding: 6px 24px;
    text-decoration: none;
}
/* .he{
    height: 112.88px;
    width: 100%;
} */
header{
    display: flex;
    justify-content: center;
}
.a{
    display: flex;
    justify-content: center;
}
/* .menu {
    height: 50px;
    width: 75px;
    position: relative;
  
}
.bar {
    height: 5px;
    width: 70px;
    display: block;
    margin: 10px auto;
    position: relative;
    background-color: #000;
    transition: 0.4s;
}
.ul2:hover,.menu:hover .bar:nth-of-type(1) {
    transform: translateY(15px) rotate(45deg);
}
.ul2:hover,.menu:hover .bar:nth-of-type(2) {
    opacity: 0;
}
.ul2:hover,.menu:hover .bar:nth-of-type(3) {
    transform: translateY(-15px) rotate(-45deg);
}
.bar:nth-of-type(1) {
    animation: rotateR 1.5s cubic-bezier(0.5, 0.2, 0.2, 1);
}
.bar:nth-of-type(2) {
    animation: fade 1.5s cubic-bezier(0.1, 0.8, 0.1, 1);
}
.bar:nth-of-type(3) {
    animation: rotateL 1.5s cubic-bezier(0.5, 0.2, 0.2, 1);
}
.ul2{
    display: none;
} */
.tcs .tc{
    width: 95%;
    height: 500px;
}
.tcs .tcc{
    width: 95%;
}
.ayhgame section{
    width: 1000px;
    height: 500px;
}
.tcs,.ayhgame,.about{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#back{
    display: none;
}

@media only screen and (max-width: 1032px) {
    .tcs .tc{
        width: 95%;
        height: 500px;
    }
    .ayhgame section{
        height: 1000px;
    }
    .tcs,.ayhgame{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
a:link,a:visited{
    text-decoration: none;
    color: black;
}
a:hover,a:active{
    text-decoration: underline;
    color: black;
}