::-webkit-scrollbar {
  display: none;
}
body{
  background-image: url(/images/no360.jfif);
}
h1{
  color: red;
}
.ohno{
  width: 100%;
  height: 10000px;
}
.mybody{
  display: none;
}
.no360{
  display: initial;
}